@import url("semantic-ui-css/semantic.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
*html {
  font-size: 64.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mobile-nav {
  display: flex;
  display: none;
}
.icon-mobile-nav {
  font-size: 4.8rem;
}
.icon-mobile-nav.close {
  display: none;
}
.nav-container {
  background-color: #fff;
  margin: 0 auto;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.main-nav {
  display: flex;
  gap: 40rem;
}
.nav-links {
  display: flex;
  gap: 1rem;
  align-self: center;
}
.nav-btn {
  display: flex;
  gap: 1rem;
}
.ui.tab.active,
.ui.tab.open {
  border: none;
}
.nav-button button {
  border: 1px solid black;
}
.custom-label {
  margin-bottom: 0.5rem; /* Adjust the margin value as needed */
}

/* .login {
  border: 1px solid #543ee0 !important;
  background: none !important;
  color: #543ee0 !important;
  padding: 0.8rem 1.5rem !important;
  transition:
    background-color 0.3s ease,
    color 0.3s ease !important;
}

.login:hover {
  background-color: #543ee0 !important;
  color: white !important;
}

.register {
  border: 1px solid #543ee0 !important;
  background-color: #543ee0 !important;
  color: white !important;
  padding: 0.8rem 1.5rem !important;
  transition:
    background-color 0.3s ease,
    color 0.3s ease !important;
}

.register:hover {
  background-color: white !important;
  color: #543ee0 !important;
} */

.home-page-container {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(homeScreen.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.header-container {
  margin: 0 auto;
  width: 90rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 6rem;
  margin-left: 8rem;
}

.header-inner {
  width: 80%;
  /* background-color: purple; */
}
.home-page-container h1 {
  color: #fff;
  font-size: 3.8rem;
}
.home-page-container p {
  color: #fff;
  width: 37.5rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.home-page-container button {
  color: #fff;
  font-size: 1.5rem;
  background-color: blue;
  padding: 1rem;
}
.about-page-container {
  margin: 0 auto;
  width: 92rem;
  margin-top: 9rem;
  margin-bottom: 9rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.about-page {
  width: 80%;
}

.about-page h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about-page p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.ui.large.image {
  width: 100%;
}
.why-container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  width: 80rem;
}
.why-header {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.why-container p {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}
.why-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  margin: 0 auto;
  padding: 2rem;
}
.why-list-container {
  border: 0.1rem solid #e5e4e2;
  padding: 2rem;
}
.why-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.why-list h3 {
  font-size: 2rem;
}
.why-list p {
  font-size: 1.4rem;
  margin-bottom: 0;
}

i.inverted.bordered.icon,
i.inverted.circular.icon {
  background-color: #d6d1f8 !important;
  color: black !important;
}

.testimonia {
  margin: 0 auto;
  margin-top: 6rem;
  background-color: #ffedcc;
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
}
.testimonia img {
  margin-left: 3rem;
}
.testimonia-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer-main-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  width: 90rem;
  align-items: center;
  gap: 12rem;
}
.footer-main {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.footer-group-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 5rem; /* Gap between grid items */
  justify-content: center; /* Center items horizontally */
}

.footer-imgs.special {
  justify-self: center;
  top: 8rem;
}

.footer-group-image .footer-imgs {
  margin: 0 5px;
}
.footer-main button {
  align-self: flex-start;
  border: 1px solid black;
  padding: 1rem;
}
.footer-nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #ffedcc;
  padding: 3rem;
  align-items: center;
}
.footer-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-main-grid h3 {
  font-size: 2.4rem;
  line-height: 1.5;
}
.footer-main-grid {
  font-size: rem;
  line-height: 1.5;
}
.footer-nav h1 {
  margin: 0 auto;
  font-size: 2.4rem;
}
.nav-col p {
  font-size: 1.2rem;
  font-weight: 700;
}
.nav-col {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav-col li {
  margin-bottom: 1rem;
}

.register {
  background-color: #ffedcc;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.register button {
  border: 1px solid black;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.register input {
  border: 1px solid black;
  padding: 1.5rem;
}

.side-nav {
  width: 200px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.side-nav ul {
  list-style: none;
  padding: 0;
}

.side-nav li {
  margin-bottom: 10px;
}

.side-nav li a {
  color: #fff;
  text-decoration: none;
}

.side-nav li a:hover {
  text-decoration: underline;
}

.ui.pointing.menu-with-gaps {
  /* justify-content: space-between; */
  border: 1px solid #adb5bd;
  padding-top: 1.8rem;
  padding-left: 2rem;
}

.ui.pointing.menu-with-gaps .item:last-child {
  margin-right: 0;
}

.feed-screen {
  flex: 1;
  padding-left: 5rem;
  padding-top: 2rem;
  padding-right: 10rem;
  border-radius: 5px;
  border: 1px solid #adb5bd;
  padding: 20px;
}

.ui.feed {
  padding: 1rem;
}
.feed-content {
  background-color: #f4f4f4;
}

.feed-content h2 {
  margin-bottom: 20px;
}
.post-screen {
  padding: 20px;
}

.top-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.post-input {
  flex: 3;
  padding: 10px;
  margin-right: 10px;
}

.publish-button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.media-buttons {
  display: flex;
}

.media-button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.media-button:last-child {
  margin-right: 0;
}

.post-screen {
  padding: 20px;
}

.top-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-textarea {
  width: 100%;
  height: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.publish-button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.media-buttons {
  display: flex;
}

.media-button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.media-button:last-child {
  margin-right: 0;
}

/* FeedItem.css */

.feed-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.author-info {
  margin-bottom: 10px;
}

.author-info p {
  margin: 0;
  font-weight: bold;
}

.content {
  margin-bottom: 10px;
}

.content h2 {
  margin-top: 0;
}

.statistics {
  display: flex;
  justify-content: space-between;
}

.statistics p {
  margin: 0;
  color: #888;
}

.like.l:hover {
  color: red !important;
}

.post-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  width: 100%;
}

.text-area-div {
  border: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  width: 100%;
}

.text-area-inputs {
  width: 100%;
}

.button-group {
  margin-bottom: 1rem;
}

.media-buttons {
  display: flex;
  flex-wrap: wrap;
}

.media-button {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.input-field input,
.textarea-field textarea {
  width: 100% !important;
  border: none !important;
  outline: none !important;
}

.ui.form.post-form {
  width: 100% !important;
  border: 1px solid black;
  height: 100%;
}
.text-area-div {
  width: 100%;
}
.textarea-field {
  width: 100% !important;
}
.textarea-field::placeholder {
  font-size: 2rem; /* Adjust the size as needed */
}

.textarea-field textarea {
  width: 100%;
  border: none !important;
  outline: none !important;
  resize: vertical;
  min-height: 200px;
}
.button-group {
  display: flex;

  gap: 2rem;
}
.media-button-group {
  display: flex;
  gap: 1rem;
}

.media-button {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
selected-image-container {
  max-width: 100%;
  overflow: hidden;
}

.selected-image {
  width: 50%;
  height: 50%;
}

.nav-container {
  position: static;
  top: 0;
  z-index: 1000; /* Ensure a higher z-index than the mobile navigation */
  /* Additional styling for your navbar */
}
/* Custom CSS to style the active tab indicator */
.active.item {
}
.author-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.post-title {
  font-size: 2rem;
}

/* /////////////////////////// */
/* /////////////////////////// */
/* /////////////////////////// */
/* /////////////////////////// */
.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mobile-app-nav {
  display: none !important;
}
.toggle-button {
  position: fixed;
  left: 3px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 24px;
  color: #000;
  z-index: 999; /* Ensure it's above other content */
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}

.sliding-component {
  position: fixed;
  top: 38px;
  left: -200px;
  width: 200px;
  height: 100vh;
  background-color: white;
  transition: left 0.3s ease;
  z-index: 1000; /* Ensure the sliding component is above other content */
  overflow-y: auto;
}

.sliding-component.visible {
  left: 0;
}
.slide-nav {
  display: none;
}

.mobile-app-nav .mobile-nav-menu {
  display: none;
}

.mobile-nav-menu {
  position: relative;
}

.menu-component {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}
.menu-component.visible {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.menu-links {
  display: flex;
  flex-direction: column;
}

.menu-links a {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
}

.menu-links a:hover {
  background-color: #f0f0f0;
}
.textarea-field {
  height: 300px; /* Adjust the height according to your preference */
  font-size: 1rem;
  resize: vertical; /* Allow vertical resizing */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds height */
}

.post-form {
}
